__pycache__/
*.py[cod]
*$py.class

.env

venv/
.venv/
env/

.vscode/
*.code-workspace
.idea/

*.egg-info/
dist/
build/
*.egg
.eggs/

*.db
*.sqlite3

migrations/versions/*.pyc
migrations/versions/*.pyo
migrations/versions/__pycache__/

*.log
.ipynb_checkpoints/
